.page-container {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) minmax(600px, 4fr) minmax(
      150px,
      1fr
    );
  min-height: 100vh;
  background-color: #d6dfc8;
}

.sidebar {
  grid-column: 1 / 2;
  padding: 2rem 2rem 1rem;
}

.main-content {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: row;
  padding: 8rem 2rem;
}

.content-text {
  flex: 1;
  padding-right: 3rem;
}

.content-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-image img {
  max-width: 100%;
  height: auto;
}

.right-space {
  grid-column: 3 / 4;
}

/* Medium-sized screens */
@media (max-width: 1024px) and (min-width: 769px) {
  .page-container {
    grid-template-columns: 180px 1fr 180px;
  }

  .content-text h2 {
    margin-top: 0; /* Reduce top margin on headings */
  }

  .sidebar h1 {
    font-size: 1.5rem; /* Reduce the size of the name */
    margin-bottom: 1.5rem;
  }
}

/* Smaller tablets and large phones */
@media (max-width: 900px) and (min-width: 769px) {
  .main-content {
    flex-direction: column;
  }

  .content-text {
    padding-right: 0;
    padding-bottom: 2rem;
  }
}

/* Mobile and small tablets */
@media (max-width: 768px) {
  .page-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 0rem 1rem;
  }

  .sidebar {
    grid-column: 1;
    grid-row: 1;
  }

  .main-content {
    grid-column: 1;
    grid-row: 2;
    flex-direction: column;
    padding: 0rem 1rem;
  }

  .content-text {
    padding-right: 0;
    padding-bottom: 2rem;
  }

  .right-space {
    display: none;
  }
}
