.page-container {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) minmax(600px, 4fr) minmax(
      150px,
      1fr
    );
  min-height: 100vh;
  background-color: #d6dfc8;
}

.sidebar {
  grid-column: 1 / 2;
  padding: 4rem 2rem 1rem;
}

.main-content {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: row;
  padding: 8rem 2rem;
}

.content-text {
  flex: 1;
  padding-right: 3rem;
}

.content-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-image img {
  max-width: 100%;
  height: auto;
}

.right-space {
  grid-column: 3 / 4;
}

.about-starburst {
  position: absolute;
  z-index: 0;
  top: 92%;
  left: 0%;
  transform: translate(-50%, -50%);
}

/* Medium-sized screens */
@media (max-width: 1024px) and (min-width: 769px) {
  .page-container {
    grid-template-columns: 130px 1fr 80px;
  }

  /* .sidebar h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  } */

  .about-starburst {
    transform: translate(-50%, -50%) scale(0.7);
  }
}

/* Smaller tablets and large phones */
@media (max-width: 900px) and (min-width: 769px) {
  .main-content {
    flex-direction: column;
  }

  .content-text {
    padding-right: 0;
    padding-bottom: 2rem;
  }

  .about-starburst {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

/* Mobile and small tablets */
@media (max-width: 768px) {
  .page-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 0rem 1rem;
  }

  .sidebar {
    grid-column: 1;
    grid-row: 1;
    padding: 3rem 1rem 2rem;
  }

  .main-content {
    grid-column: 1;
    grid-row: 2;
    flex-direction: column;
    padding: 0rem 1rem 2rem;
  }

  .content-text {
    padding-right: 0;
    padding-bottom: 2rem;
  }

  .right-space {
    display: none;
  }

  .about-starburst {
    transform: translate(-35%, -50%) scale(0.9);
  }
}
